/* nanum-gothic-regular - latin_korean */
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('./_fonts/nanum-gothic-v14-latin_korean-regular.eot'); /* IE9 Compat Modes */
    src: local('NanumGothic'),
         url('./_fonts/nanum-gothic-v14-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./_fonts/nanum-gothic-v14-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./_fonts/nanum-gothic-v14-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
         url('./_fonts/nanum-gothic-v14-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./_fonts/nanum-gothic-v14-latin_korean-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
  }
  /* nanum-gothic-700 - latin_korean */
  @font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url('./_fonts/nanum-gothic-v14-latin_korean-700.eot'); /* IE9 Compat Modes */
    src: local('NanumGothic Bold'), local('NanumGothic-Bold'),
         url('./_fonts/nanum-gothic-v14-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./_fonts/nanum-gothic-v14-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./_fonts/nanum-gothic-v14-latin_korean-700.woff') format('woff'), /* Modern Browsers */
         url('./_fonts/nanum-gothic-v14-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./_fonts/nanum-gothic-v14-latin_korean-700.svg#NanumGothic') format('svg'); /* Legacy iOS */
  }
  /* nanum-gothic-800 - latin_korean */
  @font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url('./_fonts/nanum-gothic-v14-latin_korean-800.eot'); /* IE9 Compat Modes */
    src: local('NanumGothic ExtraBold'), local('NanumGothic-ExtraBold'),
         url('./_fonts/nanum-gothic-v14-latin_korean-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./_fonts/nanum-gothic-v14-latin_korean-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('./_fonts/nanum-gothic-v14-latin_korean-800.woff') format('woff'), /* Modern Browsers */
         url('./_fonts/nanum-gothic-v14-latin_korean-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./_fonts/nanum-gothic-v14-latin_korean-800.svg#NanumGothic') format('svg'); /* Legacy iOS */
  }
  /* nanum-pen-script-regular - latin_korean */
  @font-face {
    font-family: 'Nanum Pen Script';
    font-style: normal;
    font-weight: 400;
    src: url('./_fonts/nanum-pen-script-v12-latin_korean-regular.eot'); /* IE9 Compat Modes */
    src: local('Nanum Pen'), local('NanumPen'),
         url('./_fonts/nanum-pen-script-v12-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./_fonts/nanum-pen-script-v12-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./_fonts/nanum-pen-script-v12-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
         url('./_fonts/nanum-pen-script-v12-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./_fonts/nanum-pen-script-v12-latin_korean-regular.svg#NanumPenScript') format('svg'); /* Legacy iOS */
  }