.morebtn {
    margin-top: 40px;
  }
  
  .morebtn a {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    width: 500px;
    height: 50px;
    line-height: 48px;
    border: 1px solid #dddddd;
  }
  
  .morebtn a span {
    font-size: 15px;
    background: url("../images/icon-more.png") no-repeat right center;
    padding-right: 15px;
  }
  
  .deliveryList__item, .deliveryList__title {
    border-bottom: 1px solid #dddddd;
    display: flex;
    align-items: center;
    height: 90px;
    font-size: 13px;
  }
  
  .deliveryList__item:first-child {
    border-top: 1px solid #dddddd;
  }
  
  .deliveryList__item .thumb {
    flex: none;
    width: 50px;
    margin-right: 15px;
  }
  
  .deliveryList__item .name {
    flex: 1 1 0%;
    letter-spacing: -.05em;
    max-width: calc(100% - 215px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .deliveryList__item .price {
    --text-opacity: 1;
    color: #2a715a;
    color: rgba(42, 113, 90, var(--text-opacity));
    width: 70px;
    flex: none;
    text-align: right;
  }
  
  .deliveryList__item a {
    letter-spacing: -.075em;
    font-size: 13px;
    color: #fff;
    background: #507a19;
    line-height: 30px;
    width: 80px;
    text-align: center;
    margin-left: 25px;
  }
  
  .deliveryList__item span {
      letter-spacing: -.075em;
      font-size: 13px;
      color: #fff;
      background: #990000;
      line-height: 30px;
      width: 80px;
      text-align: center;
      margin-left: 25px;
  }
  
  .deliveryList__title{
      height:60px;
  }
  .deliveryList__title dl{
      width:100%;
      padding:20px 0;
      border-top:1px solid #ddd;
  }
  .deliveryList__title dl dd{
      display:inline-block;
      text-align:center;
  }
  
  .deliveryList__title dl dd.title{
      width:76%;
  }
  
  .deliveryList__title dl dd.name{
      width:22%;
  }
  
  .deliveryList__title dl dd.price{
      width:10%;
  }
  
  .modpaymentList__item {
    border-bottom: 1px solid #dddddd;
    display: flex;
    align-items: center;
    height: 90px;
    font-size: 13px;
  }
  
  .modpaymentList__item:first-child {
    border-top: 1px solid #dddddd;
  }
  
  .modpaymentList__item .thumb {
    flex: none;
    width: 50px;
    margin-right: 15px;
  }
  
  .modpaymentList__item .name {
    flex: 1 1 0%;
    letter-spacing: -.05em;
    max-width: calc(100% - 215px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .modpaymentList__item .price {
    --text-opacity: 1;
    color: #2a715a;
    color: rgba(42, 113, 90, var(--text-opacity));
    width: 70px;
    flex: none;
    text-align: right;
  }
  
  .modpaymentList__item a {
    letter-spacing: -.075em;
    font-size: 13px;
    color: #fff;
    background: #507a19;
    line-height: 30px;
    width: 80px;
    text-align: center;
    margin-left: 25px;
  }
  
  .modpaymentList__item span {
      letter-spacing: -.075em;
      font-size: 13px;
      color: #fff;
      background: #990000;
      line-height: 30px;
      width: 80px;
      text-align: center;
      margin-left: 25px;
  }
  
  
  
  .gallerylist{width:100%;overflow:hidden;border-top:1px solid #d7d7d7;}
  .gallerylist .gallery__item{float:left;width:25%;overflow:hidden;padding:10px 10px;margin-top:10px;;border:1px solid #ccc;}
  .gallerylist .gallery__item p{padding:10px 0;}
  #btn-area{margin:0;}
  .button.small{width:auto;min-width:200px;height:40px;line-height:40px;padding:0 15px;}
  .board-detail{padding:20px;}
  .board-detail img{margin:20px auto;}
  
  .mypage-menu {width:100%;}
  .mypage-menu ul {width:auto;margin:0 auto;text-align:center;}
  .mypage-menu li {text-align:center;display:inline-block;padding:0 8px 0 7px;}
  .mypage-menu li.line {border-right:3px solid #ccc;}
  .mypage-menu li a{font-size:18px;}
  .mypage-menu li a.on, .mypage-menu li:hover {color:#4eb8a1;}
  
  .desc .notice__item{background:none;}
  .addbtn{overflow:hidden;}
  .addbtn a{display:inline-block;width:60px;height:60px;padding:5px;border-radius:50%;font-size:20px;text-align:center;line-height:250%;font-weight:bold;color:#ddd;border:1px solid #ddd;}
  .addbtn a.prev{float:left;}
  .addbtn a.next{float:right;}
  .addbtn a:hover{color:#fff;background:#333;}
  
  .mobile .input{width:130px;margin:0 10px;}
  .mobile .input1{width:120px;margin:0 10px 0 0;}
  #getcrtbtn{width:100%;height:0;overflow:hidden;}
  #getcrtbtn .input{margin-right:10px;}
  .find .find__result{margin:20px 0;}
  .find .find__result .btn2{width:150px;margin:0 10px;line-height: 280%;}
  
  .find .find__result p{margin-bottom:20px;}
  .find .form__row.type2{padding-top:40px;}
  .find .form__row.type2 .btn{margin-top:10px;}
  #passwordchk2 .red{color:red;}
  
  #selectEmail{width:260px;padding:0;color:#999999;text-align:center;height:40px;}
  #selectEmail2{width:260px;padding:0;color:#999999;text-align:center;height:40px;}
  #selectEmailbox{height:40px;border: 1px solid #ddd;margin-left:10px;}
  #selectEmailbox2{height:40px;border: 1px solid #ddd;}
  #getcrtbtn{width:100%;height:0;overflow:hidden;}
  #getcrtbtn .input{width:445px;margin-right:3px;}
  
  .img-file-add{
          height:17px;
          vertical-align: middle;
          margin:-2px 0 0 4px;
          cursor: pointer;
          display:inline-block;
      }
      .serach-area{padding:10px 0 20px 10px;}
      .serach-area i{display:inline-block;width:10px;height:10px;border-radius:50%;background:#66b39e;margin-right:10px;}
      .serach-area .section__title{font-size:25px;font-weight:bold;margin-right:30px;}
      .halfdiv{padding-top:50px;margin-top:20px;border-top:1px solid #ddd;overflow:hidden;}
      .halfdiv .half{width:49%;float:left;border:1px solid #eee;padding:1%;margin-top:20px;}
      .fright{float:right;}
  
  .payradio input  {
    outline-width: 1;
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
            margin:0 30px 0 10px;
            vertical-align:middle;
  }
  .clslayer{
      /*padding:1px 10px;border:1px solid #507a19;border-radius:10px;*/
    /*height: 23px;*/
    background: #606060;
    /*font-size: 14px;*/
    color: #fff;
    display: inline-block;
    width: 100%;
    /*line-height: 23px;*/
    border-radius: 0.5em;
    height:20px;line-height:20px;font-size:12px;padding:0 7px;
  }
  .clslayer:hover{
      background:#47b59d;color:#fff;cursor:pointer;
  }
  span.fr{float:right;color:#507a19;}
  
  .searchperiod{margin-right:20px;}
  .searchperiod input{width:100px;height:40px;text-align:center;border:1px solid #e1e1e1;}
  .searchperiod .bar{padding:0 10px;font-weight:bold;background:none;}
  
  #mainevent {width:100%;}
  #mainevent .gallery__item{display:inline-block;width:25%;overflow:hidden;}
  #mainevent .gallery__item a .thumbnail{width:25%;}
  .tableList{min-height:100px;}
  .tableList table{display:none;}
  .dotList li.dots {font-size:15px;}
  .nodata, table tr td.nodata{padding:30px 0;text-align:center;}
  .tab-area .go {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 25px;
    color: #fff;
    font-size: 12px;
    border-radius: 1.5em;
    background: #47b59d;
    text-align: center;
  }
  .main__state .orderState .col{flex:none;}
  .orderState .col{width:15%;}
  .orderState .col2{width:25%;}
  .main__state .tabLinks a.go{font-size:12px !important;}
  .main__state .tabLinks a.go span{margin-left:10px;}
  .section .visual{height:460px;}
  .section .visual img{max-height:460px;margin:auto;}
  .txt_line { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
  
  
  
  #contentsdiv{border-top:2px solid #333;border-bottom:1px solid #333;padding-bottom:20px;margin-bottom:20px;}
  #contentsdiv .desc .notice__item .date span{margin-right:0;}
  #contentsdiv div, #contentsdiv li{line-height:1.5em;}
  #contentsdiv .desc .files{padding:5px;}
  #contentsdiv .desc .files a{display:inline-block;padding:5px;font-size:14px;margin-right:20px;color:#666;letter-spacing:0;}
  #contentsdiv .desc .files a:hover{color:#66b39e;}
  #contentsdiv .desc .files a img{width:15px;display:inline-block;margin-right:3px;vertical-align:top;}
  
  .kakao{padding:25px 20px 25px 20px;border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;}
  .main__notice{padding:70px 0;}
  .main__state .tableList th {font-size:18px;}
  
  .slick-dots button {background:black;}
  .visual__join-links_div{z-index:90;width:1200px;margin:auto;}
  .visual__join-links{margin-top:50px;padding:20px 30px;;width:505px;height:190px;right:0;}
  .visual__join-links .screen{position:absolute;width:505px;height:190px;margin:-20px 0 0 -30px;background:#000;opacity:0.5;}
  .visual__join-links a {color:white;font-weight:bold;font-size:20px;text-decoration:none;}
  .visual__join-links a::after{width:85%;}
  
  #popupDiv{position:absolute;width:100%;height:0;z-index:1000;margin:0 auto;}
  #popup{position:relative;width:1200px;height:0;z-index:1000;margin:0 auto;}
  #popup .popdata{overflow:hidden;}
  .pop{border:2px solid #ddd;background:white;position:absolute;z-index:1000;}
  .pop .close{height:48px;background:#f3f3f3;padding:5px 10px;line-height:130%;}
  #check input{background:white;border:1px solid #000;margin-right:5px;}
  #check label{font-size:14px;}
  .pop  .close .cls{float:right;padding:4px 7px;line-height:130%;font-size:12px;background:#333;color:#fff;border-radius:3px;}
  #mainnotice .notice__item {background-size:auto 60%; padding: 19px 0;}
  .main__notice{width:100%;}
  .main__notice .wrap{width:100%;}
  .main__notice .wrap .flex-1{width:70%;}
  .main__notice .wrap .ml-24{width:30%;}
  .main__notice .wrap .ml-24 .kakao{padding:0;border:1px solid #d7d7d7;}
  .main__notice .wrap .ml-24 .kakao img{width:100%;margin:0;}
  
  .order .table th.ct{text-align:center;}
  .order .table th.lt{text-align:left;}
  .order .table th.rt{text-align:right;}
  
  /*myorder*/
  td.report .btn{width:auto;margin-left:10px;}
  .advicedl{}
  .advicedl dd .unit{display:inline-block;width:50%;text-align:right;padding-right:10px;}
  .modal .input input{font-size:13px;}
  .modal .table--patientAdd .input, .modal .table--patientAdd .select{height:30px;}
  .modal .table--patientAdd .select,.advicedl dd .select{display:inline-block;width:45%;}
  .modal .input{margin:1px 0;}
  .modal .phone .input{display:inline-block;width:42%;margin:0 10px 0 5px;font-size:14px;}
  .url_wrap{margin-top:40px;display:block;}
  
  .linked{font-weight:bold;cursor:pointer;}
  .linked span{font-size:11px;padding:2px 5px;border-radius:3px;color:#fff;margin:0 0 0 4px;}
  .linked span.soldout{background:#B35252;}
  .linked span.main{background:#FF8D1D;}
  .linked span.freedeli{background:#0e98c0;}
  .linked span.notied{background:#3B7A50;}