/*upload*/
.upload {width:100%;border:1px solid #ddd;padding:20px;}
.uploaddiv {display:inline;float:left;padding-right:10px;}
.progress { position:relative; width:80%; border: 1px solid #ddd; padding: 3px; border-radius: 3px; background:#eee;box-shadow:inset 0 1px 3px rgba(0, 0,0,.2);display:inline;float:left;}
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; transition:width 0.8s ease;}
.percent { position:absolute; display:inline-block; top:3px; left:48%; }
/* ë¯¸ë¦¬ë³´ê¸° */
.imgs_wrap {border: 0px solid #A8A8A8;margin-top: 30px;margin-bottom: 30px;padding-top: 10px;padding-bottom: 10px;}
.imgs_wrap img { margin-top: 30px;max-width: 150px; margin-left: 5px; margin-right: 5px;}
.fileNone {display:none;}
button.sp-btn {background:#009dab;font-size:12px;color:#fff;height:30px;overflow:visible;border:0;cursor:pointer;padding:5px 10px;border-radius:15px;vertical-align:top;}
.xbtn{
    font-style: normal;
    position: absolute;
    border: 2px solid #111;
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 20px;
    /* font-weight: bold; */
    text-align: center;
    line-height: 20px;
    color: #666;
    background: #fff;
    margin: 30px 0 0 5px;
    border-radius: 3px;
}